
.chatname::-webkit-scrollbar{
    width: 2px !important;
    height: 5px !important;
  
}
.languageDropdown::-webkit-scrollbar{
    width: 2px !important;
    height: 5px !important;
  
}
.chatname::-webkit-scrollbar-track{
    width: 2px !important;
   height: 3px;
    background-color: white;
}
.chatname::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.2);
   
    min-height: 5px;
    border-radius: 10px;
}
.languageDropdown::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.6);
   
    max-height: 5px;
    border-radius: 10px;
}


