
.chatname::-webkit-scrollbar{
    width: 2px !important;
    height: 5px !important;
  
}
.scrollDropdown::-webkit-scrollbar{
    width: 2px !important;
    height: 5px !important;
    background: transparent !important;
  
}

.scrollDropdown::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.6);
   
    max-height: 5px;
    border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-track{
    width: 2px !important;
   height: 3px;
    background-color: white;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.2);
   
    min-height: 5px;
    border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.6);
   
    max-height: 5px;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-button{
    width: 2px !important;
}


